<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    {{> head}}
</head>
<body class="home">
    {{> navigation}}
    <div class="container">
        <div class="card text-center mt-5">
            <div class="card-body">
                <h1><span class="fa fa-lock"></span> Ingresar o Registrarse</h1>
                <a href="/signin" class="btn btn-light"><span class="fa fa-user"></span> Ingresar</a>
                <a href="/signup" class="btn btn-light"><span class="fa fa-user"></span> Registrarse</a>

            </div>
        </div>
    </div>
    {{> scripts}}
</body>
</html>